<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Lego Collection</title>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-base-100 text-base-content">

  <!-- Navbar (Partial View) -->
  <%- include('partials/navbar', { page: '/about' }) %>
  
  <!-- Main content -->
  <div class="container mx-auto p-4">

  <!-- Hero Section -->
  <div class="hero bg-base-200 rounded-lg p-6">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">About</h1>
        <p class="py-6">About Me</p>
      </div>
    </div>
  </div>

  <!-- About Content -->
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 p-6">
    <!-- Image Section -->
    <div>
      <img src="https://undergroundsound.eu/wp-content/uploads/2020/09/studio-ghibli-featured-image-1.jpeg" alt="Your Image" class="w-full rounded-lg shadow-lg">
    </div>
    <!-- Blurb Section -->
    <div>
      <p>I'm a Seneca Polytechnic student studying Computer Programming and Analysis.</p>
      <p>I am passionate to learn everything about front-end development.</p>
      <p>I like going to cafes, drinking coffee and listening to music.</p>
    </div>
  </div>

</div>

</body>
</html>
